//Required bootstrap
// @import 'node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

//Optional bootstrap
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/tables";
//External Styles
//Variables
$btnColor: #e66161;
// $btnColor: #e54f60;
$btnHover: white;

//Preset
@mixin btnEff {
  background-color: $btnHover;
  border-color: $btnColor;
  color: $btnColor;
}

//Custom Styles
body,
h1 {
  font-family: "Playfair Display", serif;
}

header {
  height: 84px;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: $btnColor;
  align-content: center;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 10px 50px rgba(238, 231, 231, 0.233);
  position: sticky;
  align-items: center;
  background-color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 10px;
  .navbar {
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    .nav-link {
      display: flex;
      align-items: center;
      height: 81px;
      padding: 0;
    }
  }

  .active {
    border-bottom: 4px solid $btnColor;
  }

  .header__logo {
    float: left;
    filter: contrast(1.25);
    img {
      height: 65px;
      outline-style: none;
      transition: transform 0.5s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.bodyContent {
  background-image: url("../res/pexels-clem-onojeghuo-375896.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: sticky;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: auto;
  z-index: -1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: auto;
  .container {
    background-color: white;
    height: auto;
    text-align: center;
  }
  .table-responsive {
    overflow-y: hidden;
  }
  .btn-danger {
    background-color: $btnColor;
    border-style: inset;
    border-radius: 80px;
    border-width: 3px;
    border-color: $btnColor !important;
    font-size: 25px;
    &:hover {
      @include btnEff();
      border-style: outset;
    }
    &:active {
      @include btnEff();
      border-style: outset;
    }
    &:focus {
      @include btnEff();
      border-style: outset;
    }
  }
  table {
    thead {
      background-color: #343a40;
      color: white;
    }
  }
}
.endnotes {
  justify-content: stretch;
  display: flex;
  background-color: #222121;
  color: white;
  list-style: none;
}
footer {
  background-color: #2c2c2c;
  color: white;
  text-align: center;
  margin-top: 300px;
  font-style: italic;
}
